* {
    font-family: 'Poppins', sans-serif;
}
body {
    text-align: center;
    /* background-color: ghostwhite; */
    background-image: url('pic.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    width: 100%;
}